@font-face {
	font-family: 'Jaapokki';
	src: url(../fonts/Jaapokki-font-package-1.0/Regular/web/jaapokki-regular.ttf);
}

/* font-family: 'Roboto', sans-serif; */

body {
	margin: 0;
	padding: 0;
	font-family: 'Jaapokki', sans;
}

.container {
	margin: 0 auto;
	margin: 0 7%;
	position: relative;
}

.container-main {
	height: 100vh;
}

.header {
	color: #ffffff;
	background: url(../img/background.png) no-repeat center bottom / cover;
	height: 100vh;
	padding: 0;
	box-shadow: 0 50px 50px #bcbdc1;
}

.logo {
	display: inline-block;
	width: 48px;
	background: #ffffff;
	text-decoration: none;
	color: #0000a0;
	text-align: center;
	font-size: 25px;
	line-height: 48px;

	position: absolute;
	top: 8%;
}

.logo:hover {
	transition: all 0.5s ease;
	background: #b7b7b9;
	border-radius: 5px;
}

.brah {
	box-sizing: border-box;
	color: #0304b9;
	background: #ffffff;
	font-size: 18px;
	width: 42px;
	padding: 15px;
	text-align: center;

	position: absolute;
	left: 60%;
	top: 0;
}

.hamburger {
	width: 40px;
	position: absolute;
	top: 9%;
	right: 0;
	float: right;
	cursor: pointer;
}

.hamburger span {
	display: block;
	background: #ffffff;
	height: 2px;
	margin-bottom: 6px;
	float: right;
}

.hamburger span:nth-child(1) {
	width: 100%;
	background: #ff0000;
}

.hamburger span:nth-child(2) {
	width: 75%;
}

.hamburger span:nth-child(3) {
	width: 50%;
}

.offer {
	position: absolute;
	top: 50%;
	margin-top: -300px;
	left: 0;
}

.offer__bg {
	font-size: 300px;
	color: #1b1cc4;
	letter-spacing: 8px;
}

.offer__title {
	font-size: 55px;
	font-weight: normal;
	letter-spacing: 8px;

	position: absolute;
	top: 25%;
	left: 15%;
}

.offer__text {
	font-size: 17px;
	width: 360px;
	letter-spacing: 1px;

	position: absolute;
	left: 30%;
	top: 70%;
}

.offer__btn {
	border: 3px solid #ffffff;
	letter-spacing: 1px;
	text-decoration: none;
	color: #ffffff;
	letter-spacing: 1px;
	padding: 20px 55px;
	font-size: 20px;
	background: transparent;
	cursor: pointer;

	position: absolute;
	left: 47%;
	top: 93%;
}

.offer__btn:hover {
	transition: all 0.5s ease;
	background: #ffffff;
	color: #080aaf;
}

.next {
	font-size: 300px;
	filter: drop-shadow(17.092px 15.39px 0px rgba(0,2,108,0.27));
	letter-spacing: 18px;
	width: 360px;

	line-height: 200px;
	padding: 0;

	position: absolute;
	top: 65%;
	margin-top: -320px;
	right: 14%;
	margin-right: -100px;
}

.next span {
	color: #0048ff;
}

.scroll-down {
	display: block;
	color: #ffffff;
	text-decoration: none;
	font-size: 22px;
	letter-spacing: 1px;
	border-right: 3px solid #ffffff;
	width: 100px;
	padding: 20px 42px 65px 0;

	position: absolute;
	right: 130px;
	bottom: 0;
}


/*Section services*/

.services {
	color: #0001c5;
}

.section-title {
	display: inline-block;
	margin-top: 170px;
}

.section-title__intro {
	font-size: 23px;
	letter-spacing: 1px;
	line-height: 59px;
	color: #8585e3;
}
.section-title__title {
	font-size: 85px;
	letter-spacing: 3px;
	margin: -40px 0 0 50px;
	position: relative;
}

.services-list {
	display: flex;
	justify-content: space-between;
	margin-top: 120px;
	margin-bottom: 180px;

	letter-spacing: 1px;
}

.services-list__item {
	border: 4px solid #0001c5;
	padding: 65px 45px 0 45px;
	width: 195px;

	position: relative;
}

.services-list__text {
	font-size: 26px;
	margin: 45px 0 132px 0;
}

.services-list__icon {
	font-size: 48px;
	letter-spacing: 2px;
}

.services-list__more {
	font-size: 31px;
	color: #ffffff;
	background: #0001c5;
	padding: 0 14px;
	line-height: 42px;
	cursor: pointer;

	position: absolute;
	bottom: -4px;
	right: -4px;
}

.services-list__item_convert-color {
	color: #ffffff;
	background: #0001c5;
	border: 4px solid transparent;
	filter: drop-shadow(6.252px 14.728px 32.5px rgba(0,1,197,0.45));
}

.services-list__more_convert-color {
	background: #ffffff;
	color: #0001c5;
}

.services-list__index {
	color: #8585e3;
	font-size: 23px;
	letter-spacing: 1px;

	position: absolute;
	left: -15%;
	top: 30px;
}

/* Footer */

.footer {
	font-size: 12px;
	color: #1e1fec;
	background: #ededf8;
	padding-top: 170px;
	padding-bottom: 200px;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
}

.logo_footer {
	color: #ffffff;
	background: #0001c5;
	position: static;
	line-height: 50px;
}

.footer__btn {
	color: #1e1fec;
	font-size: 17px;
	letter-spacing: 1px;
	border: 3px solid #1e1fec;
	position: static;
	box-sizing: border-box;
	display: block;
	line-height: 30px;
	padding: 7px 42px;
	text-align: center;
}

.email, .working-hours, .footer__top-pointer, .phone, .footer__date {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	margin: 16px 0;
	text-align: center;
}

@media screen and (max-width: 1534px) {
	.services-list {
		flex-direction: column;
		margin: 80px auto;
	}

	.services-list__item {
		margin-bottom: 60px;
		left: 0; 
		right: 0;
		margin-left: auto;
		margin-right: auto;

		width: 60%;
	}
}

@media screen and (max-width: 1350px) {
	.offer {
		top: 60%;
		margin-top: -350px;
	}

	.offer__bg {
		font-size: 200px;
		margin-bottom: -220px;
	}

	.offer__title, .offer__text, .header__btn {
		position: static;
		margin-left: 40px;
	}

	.offer__text {
		margin: 20px 0 50px 70px;
	}

	.next {
		font-size: 200px;
		line-height: 150px;
		right: 20%;
		margin-right: -250px;
	}

}

@media screen and (max-width: 992px) {
	.footer__wrapper {
		flex-direction: column;
		font-size: 24px;
	}

	.footer__wrapper * {
		margin: 20px auto;
	}

	.next {
		display: none;
	}

	.offer__bg {
		font-size: 160px;
	}
}

@media screen and (max-width: 534px) {
	.offer__bg, .offer__title {
		font-size: 50px;
		line-height: 60px;
		letter-spacing: 4px;
	}

	.offer {
		top: 80%;
		margin-top: -350px;
	}

	.offer__text {
		width: auto;
	}

	.section-title__title {
		font-size: 60px;
	}

	.services-list__item {
		padding: 30px 20px 0 20px;
		font-size: 20px;
	}

	.services-list__index {
		display: none;
	}

	.offer__title {
		font-size: 40px;
	}

	.scroll-down {
		padding: 10px 20px 20px 0;

		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}
}